html {
  min-height: 100%;
}

body {
  background-image: url("/img/seigaiha.png");
  display: flex;
  flex-direction: column;
}

.container .flash-message {
  margin-top: 100px;
    
  min-width: 100%;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}

.flash-message p {
  padding: 10px;
  padding-left: 150px;
}

.flash-message .success-message {
  background-color: rgba(0, 206, 0, 0.3);
}

.flash-message .success-message p {
  border: 1px solid rgba(0, 206, 0, 0.7);
}

.flash-message .error-message {
  background-color: rgba(255, 0, 0, 0.3);
}

.flash-message .error-message p {
  border: 1px solid rgba(255, 0, 0, 0.7);
}

.body-content {
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.shelters-list {
  /*display: flex;
  flex-direction: column;
  width: 70%;*/
}

.shelter-card, .animal-card {
  background-color: #FFF;
  border-radius: 5px;
  /*flex-grow: 1;
  justify-content: center;*/
  padding-right: 10px;
  -webkit-box-shadow: 3px 3px 7px 0px rgba(173,173,173,1);
  -moz-box-shadow: 3px 3px 7px 0px rgba(173,173,173,1);
  box-shadow: 3px 3px 7px 0px rgba(173,173,173,1);
}

.navbar-p {
  display: inline;
  color: #fff;
  padding-right: 15px;
}

.main-container {
  min-width: 100%;
}

.body-content h1 {
  margin-bottom: 30px;
}

.shelter-card {
  padding: 10px;
}

.animal-card {
  padding: 10px;
}

.animal-card h2 {
  margin-top: 0px;
}

.col-md-4 {
  padding-top: 20px;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
  background-color: #eee;
  text-align: center;
  margin-top: 50px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 6px 4px -4px #999;
    background-color: #555;
}

.navbar-brand {
  color: #D1E0E6;
  letter-spacing: 0.25em;
}

.nav-btn {
  background-color: #D1E0E6;
}

.space {
  margin-top: 2px;
  margin-bottom: 2px;
}

.top-space {
  padding-top: 20px;
}

.section {
  margin-bottom: 30px;
}

/*.footer {
  position:absolute;
  width:100%;
  height: 5%;
  bottom: 0px;
  text-align: center;
  background-color: #555;
}*/

/*footer {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
    /*background-color: #555;*/
   /* position: absolute;*/
    /*left: 0;
    bottom: 0;*/
    /*height: 30px;
    width: 100%;*/
/*}*/

.footer {
/*  position: absolute;
  bottom: 0;*/
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #555;
}

.footer p {
  text-align: center;
  padding-top: 15px;
  color: #D1E0E6;
}

@media screen and (min-width: 768px)
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
}

@media screen and (min-width: 768px)
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}