<div class="body-content">
  <h1>Add an Animal</h1>

  <form action="/animals" method="POST">
    <label for="name">Animal Name</label>
    <input type="text" id="name" name="name" class="space"><br>
    <label for="species">Species</label>
    <input type="text" id="species" name="species" class="space"><br>
    <label for="breed">Breed</label>
    <input type="text" id="breed" name="breed" class="space"><br>
    <label for="age">Age</label>
    <input type="text" id="age" name="age" class="space"><br><br>

    <label>Choose a shelter:</label>
    <% Shelter.all.each do |shelter| %>
      <input id="shelter_<%= shelter.id %>" type="checkbox" name="animal[shelter_id]">
    <% end %>

    <input type="submit" class="btn btn-primary btn-md">
  </form>
</div>