<div class="body-content">
  <div class="animal-card">
    <h1><%= @animal.name %></h1>
    <p><%= @animal.species %></p>
    <p><%= @animal.breed %></p>
    <p><%= @animal.age %> years old</p>
  </div>
</div>