<div class="container">
  <div class="body-content">
    <h1>Welcome to Animal-Rescue</h1>
    <p>Please take a look around.</p>

    <br>
    <a href="#" class="btn btn-default btn-sm">View Shelters</a>
    <a href="#" class="btn btn-default btn-sm">Add a Shelter</a>
    <a href="#" class="btn btn-default btn-sm">View Animals</a>
  </div>


</div>